<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/palak/IdeaProjects/SeleniumProject">
        <classes>
            <class name="org.example.Selenium.Assignments.Miniproj1">
                <methods>
                    <include name="MiniProj1"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>